import init.p940.usb.rc

on init
    mkdir /storage 0050 system sdcard_r	
    mkdir /storage/sdcard1 0000 system system

    mkdir /mnt/shell/sdcard 0700 shell shell
    mkdir /storage/sdcard 0555 root root

    export EXTERNAL_STORAGE /storage/sdcard
    export SECONDARY_STORAGE /storage/sdcard1

    # Support legacy paths
    symlink /storage/sdcard /sdcard
    symlink /storage/sdcard /mnt/sdcard
    symlink /storage/sdcard /storage/sdcard0
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd

    chown system system /sys/module/lge_handle_panic/parameters/hidden_reset_enable
    chmod 660 /sys/module/lge_handle_panic/parameters/hidden_reset_enable

    mkdir /persist 0771 system system

on fs
# mount partitions
    mount_all /fstab.p940

    setprop ro.crypto.fuse_sdcard false

on post-fs-data
    chown system system /dvp
    chmod 0771 /dvp

    chown system system /persist
    chmod 0771 /persist

    mkdir /data/misc/wifi 0775 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/softap 0771 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chmod 0666 /data/misc/wifi/wpa_supplicant.conf
    chmod 0775 /data/misc/wifi

# wifi fw stuff
    write /data/misc/wifi/fw_path ""
    chown wifi wifi /data/misc/wifi/fw_path
    chmod 0660 /data/misc/wifi/fw_path
    write /data/misc/wifi/config ""
    chmod 0660 /data/misc/wifi/config
    chown system wifi /data/misc/wifi/config

# hdcp
    mkdir /persist/mhl 0770 radio radio
	
# add symlink for HDCP key
    symlink /persist/en_hdcp.bin /system/vendor/firmware/hdcp.keys

# Create Directory for widevine
    mkdir /persist/widevine 0770 drm system

# audio
    mkdir /data/audio 0770 media audio
    chown media audio /data/audio
    chmod 0770 /data/audio

# GPS
    chown system system /sys/devices/platform/gps_gpio/poweron
    chown system system /sys/devices/platform/gps_gpio/reset

# glgps & libgps & log setting
    mkdir /data/gps
    chmod 770 /data/gps
    chown system system /data/gps
    mkdir /data/gps/log
    chmod 770 /data/gps/log
    chown system system /data/gps/log    
    mkdir /data/cache
    chmod 770 /data/cache
    chown system system /data/cache

    # create dump dir and collect dumps.
    mkdir /data/dontpanic
    chown root system /data/dontpanic
    chmod 0754 /data/dontpanic

    # collect ramconsole data
    copy /proc/last_kmsg /data/dontpanic/last_kmsg.txt
    chown root log /data/dontpanic/last_kmsg.txt
    chmod 0640 /data/dontpanic/last_kmsg.txt

    chown system system /sys/devices/platform/omap/omap_i2c.1/i2c-1/1-0049/twl6030_bci/smpl_en
    chown system system /sys/devices/platform/omap/omap_i2c.1/i2c-1/1-0049/twl6030_bci/abnormal_wakelock_dis
    chown system system /sys/class/power_supply/battery/temp_control
    chown radio radio /sys/class/power_supply/battery/charger_mode
    chown radio radio /sys/class/power_supply/battery/gauge_control
    chown radio radio /sys/class/power_supply/bk_battery/voltage_now
    chmod 0664 /sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0036/state

    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_als
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_prox
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/proxidata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/luxdata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/DF
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/GA
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/piht
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pilt
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pers
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ppcount
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/wtime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ptime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/atime

    chown radio radio /sys/devices/platform/lge-gkpd/key_test_mode
    chown radio radio /sys/devices/platform/omap/omap4-keypad/key_saving

# UART2
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type
    
    chmod 0664 /sys/devices/platform/bd_address/bdaddr_if
    chown radio bluetooth /sys/devices/platform/bd_address/bdaddr_if

    chown system system /sys/class/mhl_orient/mhl_dev_orient/MHL_orient

on boot
    setprop rild.libpath /system/lib/lge-ril.so
    setprop ro.nfc.port "I2C"

    mkdir /data/smc 0770 drmrpc drmrpc

    mount debugfs /sys/kernel/debug /sys/kernel/debug

    chown system system /sys/devices/virtual/input/lge_touch/keyguard

    chown system graphics /sys/class/graphics/fb0/overlays
    chown system graphics /sys/class/graphics/fb0/fit_to_screen
    chown system graphics /sys/class/graphics/fb0/overlays_rotate

# change permissions for tiler and ion
    chmod 0777 /dev/ion
    chmod 0777 /dev/tiler

# for HiddenMenu
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display1/bestScore
    chmod 0660 /sys/devices/platform/omapdss/display1/enabled
    chmod 0660 /sys/devices/platform/omapdss/display1/bestScore

# LCD backlight
    chown system system /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0038/brightness
    chmod 0664 /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0038/brightness

# LCD Gamma Tuning
    chown system system /sys/devices/omapdss/display0/gamma_tuning
    chmod 0660 /sys/devices/omapdss/display0/gamma_tuning

# LED backlight
    chown system system /sys/class/leds/button-backlight/br_maintain_on
    chmod 0660 /sys/class/leds/button-backlight/br_maintain_on
    chown system system /sys/class/leds/button-backlight/brightness
    chmod 0660 /sys/devices/platform/keypad_led/leds/button-backlight/brightness

# MUIC
    chown system radio /sys/class/muic/tsu5611/state
    chmod 0664 /sys/class/muic/tsu5611/state
    
# USB VID
    chown system system /sys/class/android_usb/android0/idVendor
    chmod 0664 /sys/class/android_usb/android0/idVendor

# switch back to interactive and tune it
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 60000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 600000
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 50
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 100000

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1008000
    write /sys/devices/system/cpu/cpu0/cpufreq/screen_off_max_freq 600000

# disable IPv6 for mobile network
    write /proc/sys/net/ipv6/conf/rmnet0/disable_ipv6 1
    write /proc/sys/net/ipv6/conf/rment1/disable_ipv6 1
    write /proc/sys/net/ipv6/conf/rmnet2/disable_ipv6 1

on charger
    # disable second core while charging (cpufreq gets handled by charger blob)
    write /sys/devices/system/cpu/cpu1/online 0

service charger /charger
    class charger
    user root
    group root
    oneshot

service pvrsrvinit /vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
        -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -N \
        -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
        -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    class main
    user system
    group net_raw sdcard_rw system radio

service rawip_rmnet1 /system/bin/init.rmnet 1 up
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rawip_rmnet2 /system/bin/init.rmnet 2 up
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rawip_rmnet3 /system/bin/init.rmnet 3 up
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rmnet1_down /system/bin/init.rmnet 1 down
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rmnet2_down /system/bin/init.rmnet 2 down
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rmnet3_down /system/bin/init.rmnet 3 down
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

on property:dev.bootcomplete=1
    exec /system/bin/wifimac
