on boot
    setprop rild.libpath	/system/lib/lge-ril.so
    #setprop rild.libargs	-d /dev/xmd-tty0

service rawip_rmnet1 /system/bin/init.rmnet 1
   user root
   group radio cache inet misc
   disabled
   oneshot

service rawip_rmnet2 /system/bin/init.rmnet 2
   user root
   group radio cache inet misc
   disabled
   oneshot
   
service rawip_rmnet3 /system/bin/init.rmnet 3
   user root
   group radio cache inet misc
   disabled
   oneshot
   
# used to down HSI interfaces on RIL Recovery
service rmnet1_down /system/bin/init.rmnet-down 1
   user root
   group radio cache inet misc
   disabled
   oneshot

service rmnet2_down /system/bin/init.rmnet-down 2
   user root
   group radio cache inet misc
   disabled
   oneshot

service rmnet3_down /system/bin/init.rmnet-down 3
   user root
   group radio cache inet misc
   disabled
   oneshot