import init.p940.usb.rc

on early-init
# create mountpoints
    mkdir /mnt 0775 root system

    export EXTERNAL_STORAGE /mnt/sdcard
    export EXTERNAL_ADD_STORAGE /mnt/emmc

    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/emmc 0000 system system

# for backwards compatibility
    symlink /mnt/sdcard /sdcard
    symlink /mnt/emmc /emmc
	
# Immersion changes
    export VIBE_PIPE_PATH /dev/pipes

on init
# setup the global environment
    export ASEC_ADD_MOUNTPOINT /mnt/extasec
    export LOOP_ADD_MOUNTPOINT /mnt/extobb

# Directory for putting things only root should see.
    mkdir /mnt/extsecure 0700 root root

# Directory for staging bindmounts
    mkdir /mnt/extsecure/staging 0700 root root

# Directory-target for where the secure container
# imagefile directory will be bind-mounted
    mkdir /mnt/extsecure/extasec  0700 root root

# Secure container public mount points.
    mkdir /mnt/extasec  0700 root system
    mount tmpfs tmpfs /mnt/extasec mode=0755,gid=1000

# Filesystem image public mount points.
    mkdir /mnt/extobb 0700 root system
    mount tmpfs tmpfs /mnt/extobb mode=0755,gid=1000
# Immersion changes
    mkdir /dev/pipes 0771 shell shell

    chown system system /sys/module/lge_handle_panic/parameters/hidden_reset_enable
    chmod 660 /sys/module/lge_handle_panic/parameters/hidden_reset_enable

on early-fs
# LGE's mount points
    mkdir /dvp 0771 system system
    mkdir /persist 0771 system system
    mkdir /mpt 0775 system system

on fs
# mount mtd partitions
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/system /system wait ro barrier=1
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/userdata /data wait noatime nosuid nodev barrier=1 noauto_da_alloc
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/cache /cache wait noatime nosuid nodev barrier=1
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/divxkey /dvp wait noatime nosuid nodev
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/persist /persist wait noatime nosuid nodev
    mount ext4 /dev/block/platform/omap/omap_hsmmc.1/by-name/mlt /mpt wait nosuid nodev barrier=1 data=ordered

    setprop ro.crypto.fuse_sdcard false

on post-fs-data
    chown system system /dvp
    chmod 0771 /dvp

    chown system system /persist
    chmod 0771 /persist

    chown system system /mpt
    chmod 0775 /mpt

    mkdir /data/misc/wifi 0775 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/softap 0771 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chmod 0666 /data/misc/wifi/wpa_supplicant.conf
    chmod 0775 /data/misc/wifi

# wifi fw path file
    write /data/misc/wifi/fw_path 0
    chown wifi wifi /data/misc/wifi/fw_path
    chmod 0660 /data/misc/wifi/fw_path

# create directory for lgdrm
    mkdir /data/lgdrm 0770 lgdrm lgdrm_acc

# hdcp
    mkdir /persist/mhl 0770 radio radio
    chown system system /dev/hdcp
    chmod 0644 /dev/hdcp
	
# add symlink for HDCP key
    symlink /persist/en_hdcp.bin /system/vendor/firmware/hdcp.keys

# audio
    mkdir /data/audio 0770 media audio
    chown media audio /data/audio
    chmod 0770 /data/audio

# GPS
    chown system system /sys/devices/platform/gps_gpio/poweron
    chown system system /sys/devices/platform/gps_gpio/reset
# GPS UART Setting 
    chown system system /dev/ttyO2
# GPS RIL port Setting 
    chown system system /dev/pts17
# glgps & libgps & log setting
    mkdir /data/gps
    chmod 770 /data/gps
    chown system system /data/gps
    mkdir /data/gps/log
    chmod 770 /data/gps/log
    chown system system /data/gps/log 

    chown system system /system/bin/glgps
    chown system system /system/etc/gps_brcm_conf.xml
    chown system system /system/etc/cert/
    chown system system /system/etc/cert/lge.cer

    chown system system /sys/devices/platform/omap/omap_i2c.1/i2c-1/1-0049/twl6030_bci/smpl_en
    chown system system /sys/devices/platform/omap/omap_i2c.1/i2c-1/1-0049/twl6030_bci/abnormal_wakelock_dis
    chown system system /sys/class/power_supply/battery/temp_control
    chown radio radio /sys/class/power_supply/battery/charger_mode
    chown radio radio /sys/class/power_supply/battery/gauge_control
    chown radio radio /sys/class/power_supply/bk_battery/voltage_now
    chmod 0664 /sys/devices/platform/omap/omap_i2c.4/i2c-4/4-0036/state

    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_als
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/interrupt_prox
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/proxidata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/luxdata
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/DF
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/GA
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/piht
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pilt
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/pers
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ppcount
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/wtime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/ptime
    chown system system /sys/devices/platform/omap/omap_i2c.3/i2c-3/3-0039/atime

# mpl
    chmod 0777 /dev/mpu
    chmod 0777 /dev/mpuirq
    chmod 0777 /dev/timerirq

    chown radio radio /sys/devices/platform/lge-gkpd/key_test_mode
    chown radio radio /sys/devices/platform/omap/omap4-keypad/key_saving

# UART2
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill1/type
    chmod 0660 /dev/ttyO1
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type
    chown bluetooth bluetooth /dev/ttyO1
    
    chmod 0660 /sys/devices/platform/bd_address/bdaddr_if
    chown radio radio /sys/devices/platform/bd_address/bdaddr_if
    
    setprop service.brcm.bt.btld 0
    setprop service.brcm.bt.activation 0
    setprop service.brcm.bt.srv_active 0
    setprop service.brcm.bt.hcid_active 0
    setprop sys.settings_secure_version 0

    mkdir /data/logger 0775 system system
    chown system system /data/logger
    chmod 0771 /data/logger

    chown system system /sys/class/mhl_orient/mhl_dev_orient/MHL_orient

on early-boot
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive

on boot
    setprop rild.libpath /system/lib/lge-ril.so

    chmod 0666 /dev/pvrsrvkm
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

    mkdir /data/smc 0770 drmrpc drmrpc

    mount debugfs /sys/kernel/debug /sys/kernel/debug

    chown system system /sys/devices/virtual/input/lge_touch/keyguard
    chmod 0777 /dev/ion

    chown system graphics /sys/class/graphics/fb0/overlays
    chown system graphics /sys/class/graphics/fb0/fit_to_screen
    chown system graphics /sys/class/graphics/fb0/overlays_rotate
    chmod 0777 /dev/graphics/fb0
    chmod 0777 /dev/graphics/fb1


# for HiddenMenu
    chown system system /sys/devices/platform/omapdss/display1/enabled
    chown system system /sys/devices/platform/omapdss/display1/bestScore
    chmod 0660 /sys/devices/platform/omapdss/display1/enabled
    chmod 0660 /sys/devices/platform/omapdss/display1/bestScore

# LCD backlight
    chown system radio /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0038/brightness
    chmod 0664 /sys/devices/platform/omap/omap_i2c.2/i2c-2/2-0038/brightness

# LCD Gamma Tuning
    chown system radio /sys/devices/omapdss/display0/gamma_tuning
    chmod 0660 /sys/devices/omapdss/display0/gamma_tuning

# LED backlight
    chown system radio /sys/class/leds/button-backlight/br_maintain_on
    chmod 0660 /sys/class/leds/button-backlight/br_maintain_on
    chown system radio /sys/class/leds/button-backlight/brightness
    chmod 0660 /sys/devices/platform/keypad_led/leds/button-backlight/brightness

# nfc
    chmod 0666 /dev/pn544

# usb serial
    chmod 0777 /dev/ttyGS0
    chmod 0777 /dev/ttyGS1
    chmod 0777 /dev/ttyGS2

# misc and nv for CTS Pass
    chown system misc /dev/block/platform/omap/omap_hsmmc.1/by-name/misc
    chmod 0660 /dev/block/platform/omap/omap_hsmmc.1/by-name/misc ## misc partition

    chown system misc /dev/block/platform/omap/omap_hsmmc.1/by-name/nv
    chmod 0660 /dev/block/platform/omap/omap_hsmmc.1/by-name/nv ## NV partition


# MUIC
    chown system radio /sys/class/muic/tsu5611/state
    chmod 0664 /sys/class/muic/tsu5611/state
    
# USB VID
    chown system system /sys/class/android_usb/android0/idVendor    
    chmod 0664 /sys/class/android_usb/android0/idVendor

# write access permission for drive emulation
    chown system system /sys/class/android_usb/android0/f_cdrom_storage/lun/cdrom_usbmode

    mkdir /dvp/rysh 0770 system divxdrm
    chown media divxdrm /dvp/rysh
    chmod 0770 /dvp/rysh

    mkdir /dvp/ooda 0770 system divxdrm
    chown media divxdrm /dvp/ooda
    chmod 0770 /dvp/ooda

    mkdir /dvp/ssamu system divxdrm
    chown media divxdrm /dvp/ssamu
    chmod 0770 /dvp/ssamu

# widevine drm keybox repository
    mkdir /dvp/jjn 0770 drm system

    chown system system /dvp
    chmod 0771 /dvp

# TI sdram frequency set problem work around
# Temporarily adjust CPU frequency and reset to (performance) interactive
     write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor userspace
     write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 800000
     write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

service charger /charger
    class charger
    user root
    group root
    oneshot

service spritebud /system/xbin/spritebud
    class main
    socket spritebud stream 660 root radio
    user root
    group root

service lgsecclk /system/bin/lgsecclkserver
    class main
    user system
    group system lgdrm_acc sdcard_rw media_rw

service lgdrm /system/bin/lgdrmserver
    class main
    user root
    group lgdrm_acc sdcard_rw media_rw system radio

#service hciattach /system/bin/brcm_patchram_plus --enable_hci --no2bytes --enable_lpm \
#	--scopcm=0,4,0,1,1,0,0,3,3,0  --baudrate 3000000 --use_baudrate_for_download \
#	--tosleep 50000 --patchram /vendor/firmware/bcm4330.hcd /dev/ttyO1
#	class main
#	user bluetooth
#	group bluetooth net_bt_admin
#	disabled
#	oneshot

service pvrsrvinit /vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dnl80211 -iwlan0 -puse_p2p_group_interface=1 -e/data/misc/wifi/entropy.bin
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
 
service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
 
service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service ap_at_command /system/bin/ap_at_command
    class main
    user root
    group system input graphics media_rw sdcard_rw

service glgps /system/bin/glgps -c /system/etc/gps_brcm_conf.xml
    class main
    user system
    group net_raw sdcard_rw system radio

service rawip_rmnet1 /system/bin/init.rmnet 1
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rawip_rmnet2 /system/bin/init.rmnet 2
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rawip_rmnet3 /system/bin/init.rmnet 3
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rmnet1_down /system/bin/init.rmnet-down 1
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rmnet2_down /system/bin/init.rmnet-down 2
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service rmnet3_down /system/bin/init.rmnet-down 3
    class main
    user root
    group radio cache inet misc net_admin net_raw
    disabled
    oneshot

service hdcp-init /system/bin/hdcp-init 1 3 >> /data/mhl.log
    class main
    user root
    group radio system sdcard_rw shell
    oneshot
