# SGX
/dev/pvrsrvkm             0666   system     system

# GCX
/dev/gcioctl              0666   system     system

# sensor HAL
/dev/mpu                  0660   system     system
/dev/mpuirq               0660   system     system
/dev/accelirq             0660   system     system
/dev/compassirq           0660   system     system
/dev/timerirq             0660   system     system

# HWC
/dev/dsscomp              0660   system     system
/dev/tiler                0666   system     system

/dev/graphics/*           0660   system     graphics
/dev/input/*              0660   system     input
/dev/ttyGS*           	  0660   system     system

# SYSLINK
/dev/rpmsg-omx0           0660   drmrpc     drmrpc
/dev/rpmsg-omx1           0660   drmrpc     drmrpc
/dev/rproc_user           0660   drmrpc     drmrpc
/dev/tf_driver            0660   drmrpc     drmrpc
/dev/tf_ctrl              0660   drmrpc     drmrpc

# vibrator
/dev/tspdrv               0666   system     system

# BT
/dev/ttyO1                0660   bluetooth  bluetooth

# GPS
/dev/ttyO2                0660   system     system

#for NFC
/dev/pn544                0666   system     system

# RIL/IPC
/dev/xmd-tty*             0660   radio      radio

# CTS Pass
/dev/block/mmcblk0p6      0660   system     radio
/dev/block/mmcblk0p7      0660   system     radio

# HDCP
/dev/hdcp                 0644   system     system
